@charset "UTF-8";

/* 홈페이지 안에 div요소 꽉차게 하기 위함 */
html, body {width: 100%; height: 100%; display: grid;}
body {background-color: rgb(219, 232, 217, 0.3);}
.contents-body > * {width: 100%; padding-top: 60px; transition: all 1s;}
.blank {margin-top: 8rem; margin-bottom: 8rem; width: 0; height: 1px; transition: all 1s;}
/*---------- html & body & contents-body end ----------*/

/* .header-menu-body {z-index: 9999;} */
.header {position: fixed; display: flex; left: 0; right: 0; padding: 15px; margin-top: 1.3rem; justify-content: space-between; align-items: center; user-select: none; transition: all .5s;}
.header.on {position: fixed; top: 0; margin-top: 0; height: 80px; background-color: rgb(255, 255, 255, .8); box-shadow: 0px 3px 5px rgb(233, 233, 233); z-index: 9999; transition: all .5s;}

.header-name {font-size: 40px; font-weight: 800;  margin-left: 3%; color: rgb(245, 118, 33); cursor: pointer; transition: all .5s;}

.nav-bar {display: flex; padding-right: 40px;}
.nav-bar > div {display: flex; margin-left: 2rem; padding: 5px; font-size: 1.6rem; font-weight: 500; cursor: pointer;}

/*--- 모바일 메뉴 버튼[=] 생성 ---*/
input[id="hidden-btn"] {display: none;}
input[id="hidden-btn"] + label {display: block; width: 40px; height: 25px; position: relative; cursor: pointer;}
input[id="hidden-btn"] + label span {display: block; position: absolute; width: 32px; height: 4px; border-radius: 50px; background: black;}
input[id="hidden-btn"] + label span:nth-child(1) {top: 0;}
input[id="hidden-btn"] + label span:nth-child(2) {top: 50%; transform: translateY(-50%);}
input[id="hidden-btn"] + label span:nth-child(3) {bottom: 0;}
/*---*/
input[id="hidden-btn"]:checked + label + div + div {left: 20%; transition: all 1s;}

/*--- 모바일 메뉴의 닫는 버튼[X] 생성 ---*/
input[id="close-btn"] {display: none;}
input[id="close-btn"] + label {display: block; width: 40px; height: 25px; position: relative; cursor: pointer;}
input[id="close-btn"] + label span {display: block; position: absolute; width: 32px; height: 4px; border-radius: 50px; background: black;}
input[id="close-btn"] + label span:nth-child(1) {top: 50%; transform: translateY(-50%) rotate(45deg);}
input[id="close-btn"] + label span:nth-child(2) {bottom: 50%; transform: translateY(50%) rotate(-45deg);}
/*---*/

.hidden-nav-bar-body {background-color: rgba(0, 0, 0, .3); position: fixed; top: 0; left: 0; right: 0; bottom: 0; display: none;}
.hidden-nav-bar {display: grid; grid-template-rows: auto; position: fixed; top: 0; bottom: 0; right: 0; left: 100%; background-color: white; transition: all 1s; z-index: 2;}

.hidden-menu-body {position: fixed; z-index: -1; width: 100%; height: 100%; padding-left: 10%;}
.hidden-menus {padding-top: 340px; font-size: 50px; font-weight: bold;}
.hidden-menus > * {cursor: pointer; padding-top: 10px;}

.close-btn-body {position: fixed; width: 100%; height: 200px;}
.close-btn-body > * {left: 70%; right: auto; top: 30%;}

.my-info {padding-top: 40px;}
#name {font-size: 25px; font-weight: bold;}
#job {padding-top: 1%; font-size: 15px;}
/*---------- header & nav-bar end ----------*/

.home-body {position: relative; text-align: center; z-index: -1; padding-top: 800px; padding-bottom: 0.1px; height: auto;}
.home-body .top-circles > div {min-width: 100px; min-height: 100px;}
.home-body .top-circles .circles {position: absolute; z-index: -1; width: 19.7vw; height: 19.7vw; border-radius: 50%;}
.home-body .top-circles .circle1 {top: 20%; left: -12%; background: linear-gradient(0deg, #9abcfc 0%, #fcd5f0 100%); box-shadow: 1px 1px 2px gray; animation: moving1 10s none infinite alternate;}
.home-body .top-circles .circle2 {top: 50%; right: 45%; background: linear-gradient(0deg, rgb(163, 221, 207) 0%, rgb(235, 115, 35) 100%); box-shadow: 1px 1px 2px gray; animation: moving2 20s none infinite alternate;}
.home-body .top-circles .circle3 {top: 65%; bottom: -80px; right: -8%; background: linear-gradient(0deg, rgb(177, 32, 221) 0%, rgb(254, 255, 168) 100%);  box-shadow: 1px 1px 2px gray; animation: moving3 5s none infinite alternate;}

.first-home {margin-top: -450px; text-align: center; position: relative; z-index: 0;}
.hello {text-align: center; position: relative; font-size: 3.5rem; font-weight: 700; color: teal; text-shadow: 0 1px black;}
.top-name {text-align: center; position: relative; font-size: 5rem; font-weight: 700; color: rgb(41, 41, 41); text-shadow: 0 0 2px white; margin-top: 20px;}
.portfolio {font-size: 4rem; font-weight: 700; color: rgb(41, 41, 41); text-shadow: 0 0 2px white; margin-bottom: 20px;}
.top-job {text-align: center; position: relative; font-size: 2.9rem; font-weight: 500; color: white; text-shadow: 1px 1px 10px rgb(156, 156, 156);}
/*---------- home end ----------*/

.about-body {text-align: center; display: grid; height: auto; width: 100%;}
.about-title {color: rgb(129, 161, 144); text-shadow: 0 1px black, 4px 4px 4px rgba(0, 0, 0, .2); font-size: 3.5rem; font-weight: 700; padding: 50px; font-family: 'Noto Sans KR', sans-serif;}
.about-contents {display: grid; grid-template-columns: 1fr 1fr; padding: 30px; height: auto;}

.photo-body {margin: auto; width: 550px; height: 550px; position: relative;}
#photo {background-image: url("../icon/profile.jpg"); background-repeat: no-repeat; background-size: contain; border-radius: 3px; width: 100%; height: 100%; padding: 10%; position: relative;}
#photo-base {position: absolute; z-index: -1; top: 115px; right: -70px; width: 800px; height: 500px; border-radius: 3px; background-color: rgb(209, 230, 193, 0.7); transition: all 1s;}

.info-body {margin: auto;}
.info-body > * {margin-left: 5%;}
.display-body {display: grid;}

#profile-title, 
#education-title, 
#advantages-title {text-align: left; font-size: 2.1rem; font-weight: 700; padding: 10px;}

#profile-contents,
#education-contents {display: grid; grid-template-columns: 0.2fr 1.8fr; text-align: justify; line-height: 170%; padding: 10px;}

#profile-contents > * {margin-bottom: 7px;}
#profile-contents > div:nth-of-type(2n) {padding-left: 30px;}

#education-contents > * {margin-bottom: 7px;}
#education-contents > div:nth-of-type(2n) {padding-left: 30px; width: 94%;}

#advantages-contents > * {line-height: 170%; text-align: left; padding: 10px; padding-top: 20px; width: 100%;}
#advantages-contents > div:last-of-type {padding-top: 10px;}

#title {font-size: 1.1rem; font-weight: 600;}
#contents {font-size: 1rem;}
/*---------- about me end ----------*/

.skills-body {text-align: center; display: grid; height: auto;}
.skills-title {color: rgb(129, 161, 144); text-shadow: 0 1px black, 4px 4px 4px rgba(0, 0, 0, .2); font-size: 3.5rem; font-weight: 700; padding: 50px; font-family: 'Noto Sans KR', sans-serif;}
.skills-contents {height: auto; display: grid;}
.skills-contents > div {border: solid 1px gray; box-shadow: 5px 5px 5px gray; padding: 10px; border-radius: 20px; margin: auto; margin-bottom: 40px; background-color: rgb(255, 255, 255, 0.7);}
.skills-contents > div > h2 {font-size: 2rem; padding: 5px; font-weight: 600; color: rgb(134, 133, 133); text-shadow: 1px 1px rgb(88, 88, 88);}
.skills-contents > div > hr {margin-left: 20px; margin-right: 20px; border: 0; height: 1px; background-color: #CCC;}
.skills-contents > div > ol {display: flex; flex-wrap: wrap; padding: 10px;}
.skills-contents > div > ol > li {margin: 5px; background-repeat: no-repeat; background-size: contain; background-position: center; image-rendering: -webkit-optimize-contrast;}

.front-skill > li {width: 280px; height: 105px;}
.front-skill > li:nth-child(1) {background-image: url('../icon/skills/front-end.png');}
.front-skill > li:nth-child(2) {width: 240px; background-image: url('../icon/skills/jquery.png');}

.back-skill > li {width: 90px; height: 90px;}
.back-skill > li:nth-child(1) {background-image: url('../icon/skills/c++.png');}
.back-skill > li:nth-child(2) {background-image: url('../icon/skills/python.png');}
.back-skill > li:nth-child(3) {width: 105px; height: 110px; margin: auto; background-image: url('../icon/skills/java.png');}
.back-skill > li:nth-child(4) {width: 160px; height: 100px; margin: auto; background-image: url('../icon/skills/spring.png');}
.back-skill > li:nth-child(5) {width: 200px; height: 110px; margin: auto; background-image: url('../icon/skills/mysql.png');}

.devops-skill > li {width: 240px; height: 110px; margin: 5px;}
.devops-skill > li:nth-child(1) {background-image: url('../icon/skills/aws.png');}
.devops-skill > li:nth-child(2) {background-image: url('../icon/skills/linux.png');}
.devops-skill > li:nth-child(3) {background-image: url('../icon/skills/junit.png'); width: 220px; height: 90px; margin: auto;}
.devops-skill > li:nth-child(4) {background-image: url('../icon/skills/git.png'); width: 200px; height: 90px; margin: auto;}
.devops-skill > li:nth-child(5) {background-image: url('../icon/skills/github.png'); height: 90px; margin: auto;}
/*---------- skills end ----------*/

.projects-body {text-align: center; display: grid; height: auto;}
.projects-title {color: rgb(129, 161, 144); text-shadow: 0 1px black, 4px 4px 4px rgba(0, 0, 0, .2); font-size: 3.5rem; font-weight: 700; padding: 50px; padding-bottom: 30px; font-family: 'Noto Sans KR', sans-serif;}
.projects-contents {height: auto;}

.projects-nav-bar-body input[id*="project"] {display: none;}
#project {cursor: pointer;}
.projects-nav-bar-body [id="project01"]:checked ~ .projects-nav-bar > li > .project01 {font-size: 1.1rem; background-color: rgb(230, 230, 250, 0.8); border-radius: 8px; text-shadow: 1px 1px white; transition: all .8s;}
.projects-nav-bar-body [id="project02"]:checked ~ .projects-nav-bar > li > .project02 {font-size: 1.1rem; background-color: rgb(230, 230, 250, 0.8); border-radius: 8px; text-shadow: 1px 1px white; transition: all .8s;}
.projects-nav-bar-body [id="project03"]:checked ~ .projects-nav-bar > li > .project03 {font-size: 1.1rem; background-color: rgb(230, 230, 250, 0.8); border-radius: 8px; text-shadow: 1px 1px white; transition: all .8s;}

.projects-nav-bar {padding: 20px;}
.projects-nav-bar > li {font-size: 1.2rem; font-weight: 600;}
.projects-nav-bar > li > label {padding: 10px; cursor: pointer;}
.projects-nav-bar > li > label:hover {font-size: 1.1rem; background-color: rgb(230, 230, 250, 0.8); border-radius: 8px; text-shadow: 1px 1px white; transition: all .8s;}
.projects-nav-bar > li {display: inline; border-left: 1px solid #999; padding: 0 10px;}
.projects-nav-bar > li:first-child {border-left: none;}


.projects-view1 {display: grid; grid-template-columns: 0.8fr 1.2fr;}
.projects-view2 {display: none; grid-template-columns: 0.8fr 1.2fr;}
.projects-view3 {display: none; grid-template-columns: 0.8fr 1.2fr;}

.project-detail {margin-top:30px; margin-bottom: 30px; display: grid; margin-left: 15%;}
.project-detail > * {margin: auto;}

.detail-title {padding: 10px;}
.detail-title > h3 {font-size: 1.5rem;}
.detail-title > h3 > span {font-size: 1.1rem; font-weight: 600;}
.detail-title > h4 {margin-top: 10px; font-weight: 450; font-size: 1rem; color: rgb(204, 204, 204);}

.detail-contents > * {text-align: left; padding-left: 20px; padding-right: 20px;}
.detail-contents > p:first-of-type {margin-bottom: 20px; text-align: justify; line-height: 170%;}
.detail-contents > h3 {margin-bottom: 5px; font-size: 1.2rem;}
.detail-contents > div:first-of-type {margin-bottom: 20px;}
.detail-contents > div:first-of-type > ul {margin: 0; padding: 0; padding-left: 20px;}
.detail-contents > div:first-of-type > ul > li {list-style: square; line-height: 170%;}
.detail-contents > p:nth-of-type(2) {margin-bottom: 20px; font-size: 1.2rem; font-weight: bold;}
.detail-contents > p:nth-of-type(2) > span {margin-top: 10px; margin-right: 8px; border-radius: 10px; border: solid 1px gray; width: 70px; height: 70px; box-shadow: 1px 1px 1px gray;}

p span {text-align: center; display: inline-block; background-size: contain; background-repeat: no-repeat; background-color: rgb(255, 255, 255, 0.8);}
p #java {background-image: url('../icon/use-program/java.png'); background-position: center;}
p #db {background-image: url('../icon/use-program/database.png'); }
p #git {background-image: url('../icon/use-program/git.png');}
p #aws {background-image: url('../icon/use-program/aws.png');}

.github-team {text-align: center; display: block; width: 160px; padding: 13px; margin-left: 20px; font-size: 1rem; font-weight: 550; color: #425a73; background-color: rgb(255, 255, 255, 0.8); border: 1px solid #425a73; border-radius: 5px; transition: all 0.4s; cursor: pointer;}
.github-team:hover {background-color: #425a73; color: white;}

.slidebox {max-width:700px; margin:auto; position:relative;}
.slidelist {margin: 0; padding: 0;}
.slidebox .slidelist {position:relative; white-space:nowrap; font-size:0; overflow:hidden;}
.slidebox .slidelist .slideitem {position:relative; display:inline-block; vertical-align:middle; background-color:#fff; width:100%; transition:all 1s;}
.slidebox .slidelist .slideitem > a {display:block; width:auto; position:relative;}
.slidebox .slidelist .slideitem > a img {max-width:100%; height: auto; image-rendering: -webkit-optimize-contrast;}

.slidebox .slide-control [class*="control"] label {position:absolute; z-index:10; top:52%; transform:translateY(-51%); padding:20px; border-radius: 5px; cursor:pointer;}
.slidebox .slide-control [class*="control"] label.prev {left:-50px; background:rgb(206, 206, 206) url('../icon/left-arrow.png') center center / 50% no-repeat; transition: all .5s;}
.slidebox .slide-control [class*="control"] label.next {right:-44px; background:rgb(206, 206, 206) url('../icon/right-arrow.png') center center / 50% no-repeat; transition: all .5s;}

[name="slide"] {display:none;}
#slide01:checked ~ .slidelist .slideitem {left:0;}
#slide02:checked ~ .slidelist .slideitem {left:-100%;}
#slide03:checked ~ .slidelist .slideitem {left:-200%;}
#slide04:checked ~ .slidelist .slideitem {left:-300%;}
#slide05:checked ~ .slidelist .slideitem {left:-400%;}
#slide06:checked ~ .slidelist .slideitem {left:-500%;}

.slide-control [class*="control"] {display:none;}
#slide01:checked ~ .slide-control .control01 {display:block;}
#slide02:checked ~ .slide-control .control02 {display:block;}
#slide03:checked ~ .slide-control .control03 {display:block;}
#slide04:checked ~ .slide-control .control04 {display:block;}
#slide05:checked ~ .slide-control .control05 {display:block;}
#slide06:checked ~ .slide-control .control06 {display:block;}

.img-frame {position: absolute; width: 860px; height: 570px; top: -23px; left: -83px; background-image: url('../project-slide/frame2.png'); background-repeat: no-repeat; background-size: 860px 530px; image-rendering: -webkit-optimize-contrast;}
/*---------- projects end ----------*/

.contact-body {height: 900px;-webkit-font-smoothing: antialiased; display: grid; justify-content: center; align-items: center; text-align: center;}

.contact-txt {z-index: 0; margin: auto; transform: translateY(50%);}

.contact-contents  {font-size: 1.5rem; color: rgb(73, 73, 73); line-height: 170%; margin-top: -90%;}
.contact-contents > p {display: grid;} 
.contact-contents > p:first-of-type {margin-bottom: 15px;}
.contact-contents > p > span {background-color: transparent; display: inline-block;}
.contact-contents > p span:nth-child(1) {font-weight: bold;}


h1 span {position: relative; z-index: 0; top: 20px; animation: bounce 1s ease infinite alternate; font-size: 60px; color: rgb(209, 230, 193);
text-shadow: 1px 1px 3px white,
             0 1px 0 #CCC,
             0 2px 0 #CCC,
             0 3px 0 #CCC,
             0 4px 0 #CCC,
             0 5px 0 #CCC,
             0 6px 0 transparent,
             0 7px 0 transparent,
             0 8px 0 transparent,
             0 9px 0 transparent,
             0 10px 10px rgba(0, 0, 0, .4);
}

h1 span:nth-child(2) {animation-delay: .1s;}
h1 span:nth-child(3) {animation-delay: .3s;}
h1 span:nth-child(4) {animation-delay: .5s;}
h1 span:nth-child(5) {animation-delay: .7s;}
h1 span:nth-child(6) {animation-delay: .9s;}
h1 span:nth-child(7) {animation-delay: 1.1s;}
h1 span:nth-child(8) {animation-delay: 1.3s;}
/*---------- contact end ----------*/

.copy-right-body {display: grid; background-color: rgb(145, 144, 144); height: 150px; padding: 10px; text-align: center; color: white; font-size: 13px; user-select: none;}
.copy-right {margin-top: -5px;}
.link-icons {margin-top: 9px;}
.link-icons > div {display: inline-block; align-items: center; padding-left: 10px; padding-right: 10px; font-size: 60px; cursor: pointer;}
/*---------- copyright end ----------*/