@charset "UTF-8";

/* 화면이 작아졌을 경우 header 히든 메뉴 버튼 생성 */
@media screen and (max-width: 890px) {
    .nav-bar {display: none !important;}
}
@media screen and (min-width: 600px) {
    .hidden-menus {font-size: 3.9rem;}
    #name {font-size: 1.8em;}
    #job {font-size: 1.2em;}
}
/* 화면이 커졌을 경우 header 히든 메뉴 버튼 사라지게 함 */
@media screen and (min-width: 891px) {
    .hidden-btn + label {display: none !important;}

    /* input이 checked가 된 경우, 크기를 늘렸을 때 히든 메뉴가 들어갈 수 있게 설정 */
    input[id="hidden-btn"]:checked + label + div + div {right: 0; left: 100%;}    
}
@media screen and (max-width: 700px) {
    .header-name {font-size: 28px;}
}
/*--------------------- header & nav-bar -------------------------*/

@media screen and (min-width: 1650px) {
    .blank {margin-top: 9rem; margin-bottom: 9rem;}
}
@media screen and (max-width: 950px) {
    .blank {margin-top: 5rem; margin-bottom: 5rem;}
}
@media screen and (max-width: 700px) {
    .blank {margin-top: 1rem; margin-bottom: 1rem;}
}
/*--------------------- blank -------------------------*/

@media screen and (min-width: 1600px) {
    .home-body {height: 900px;}
    .home-body .top-circles .circle1 {margin-left: 15%;}
    .home-body .top-circles .circle3 {margin-right: 15%;}

    .hello {font-size: 4rem;}
    .top-name {font-size: 5.5rem;}
    .portfolio {font-size: 4.5rem;}
}
@media screen and (max-width: 950px) {
    .home-body {padding-top: 90%;}

    .first-home {margin-top: 0; margin: -53%;}
    .hello {font-size: 2.6rem;}
    .top-name {font-size: 3.3rem;}
    .portfolio {font-size: 3rem;}
    .top-job {font-size: 2.3rem;}
}
@media screen and (max-width: 700px) {
    .hello {font-size: 2rem;}
    .top-name {font-size: 2.6rem;}
    .portfolio {font-size: 2rem;}
    .top-job {font-size: 1.8rem;}
}
/*--------------------- home -------------------------*/

/* 제일 화면 커지는 경우 */
@media screen and (min-width: 1650px) {
    .about-title {font-size: 4rem;}
    .about-contents {padding: 60px;}
    .info-body {margin-left: 3%;}
    .photo-body {width: 40rem; height: 40rem;}
    #photo-base {width: 600px; height: 590px;}
    .display-body {display: flex;}

    #title {font-size: 1.2rem;}
    #contents {font-size: 1.1rem;}
    #advantages-contents > * {font-size: 1.1rem;}

    #profile-title,
    #education-title, 
    #education-contents > div:nth-of-type(2n) {width: 90%;}
    #advantages-title {font-size: 2.4rem; margin-top: 30px;}
}
/* 중간 크기 화면 */
@media screen and (max-width: 1050px) {
    .about-contents {padding: 0;}
    .photo-body {width: 100%; height: auto; padding: 20%; background-image: url("../icon/profile2.jpg"); background-size: 110% auto; background-repeat: no-repeat; z-index: -1;}
    #photo-base {display: none;}
    #photo {display: none;}

    .info-body {margin: auto; padding: 50px;}
    .info-body > * {margin: 0;}

    .about-contents {display: flex; flex-direction: column;}
    .display-body {display: flex;}
    
    #profile-title,
    #education-title,
    #advantages-title {font-size: 1.8rem;}
    #education-contents > div:nth-of-type(2n) {width: 90%;}
    .advantages {margin-top: 20px;}
}
/* 화면 제일 작아지는 경우 */
@media screen and (max-width: 700px) {
    .about-title {font-size: 2.6rem; padding: 40px;}
    .display-body {display: grid;}
    .info-body {padding: 40px;}

    #title {font-size: 0.9rem;}
    #contents {font-size: 0.9rem;}

    #profile-title,
    #education-title, 
    #advantages-title {font-size: 1.5rem;}

    #profile-contents > * {margin-bottom: 3px;}
    #education-contents > * {margin-bottom: 3px;}
    #advantages-contents > * {padding-top: 5px; font-size: 0.9rem;}

    #profile-contents, 
    #education-contents {padding-top: 5px;}
}
/*--------------------- about me -------------------------*/

@media screen and (min-width: 1650px) {
    .skills-title {font-size: 4rem;}
    .skills-contents > div {padding: 15px; margin-bottom: 45px;}
    .skills-contents > div > h2 {font-size: 2.3rem; padding-top: 0;}
    .skills-contents > div > ol > li {margin: 5px;}

    .front-skill > li {width: 300px; height: 115px;}
    .front-skill > li:nth-child(2) {width: 260px;}

    .back-skill > li {width: 100px; height: 100px;}
    .back-skill > li:nth-child(3) {width: 110px; height: 115px;}
    .back-skill > li:nth-child(4) {width: 170px; height: 105px;}
    .back-skill > li:nth-child(5) {width: 210px; height: 115px;}

    .devops-skill > li {width: 250px; height: 120px;}
    .devops-skill > li:nth-child(3) {width: 230px; height: 95px;}
    .devops-skill > li:nth-child(4) {width: 210px; height: 95px;}
    .devops-skill > li:nth-child(5) {height: 100px;}
}
@media screen and (max-width: 1350px) {
    .skills-contents {display: flex; flex-wrap: wrap;}
    .skills-contents > div {margin: auto; margin-top: 0;}
    .skills-contents > div:first-of-type {height: auto;}

    .skills-contents > div > ol {display: grid;}
    .skills-contents > div:nth-child(2) {padding: 30px; padding-top: 10px; padding-bottom: 15px; margin-left: 0; margin-right: 0;}

    .skills-contents > div > ol > li {margin: auto; margin-bottom: 10px;}

    .front-skill > li {width: 240px; height: 100px;}

    .back-skill > li {width: 85px; height: 85px;}
    .back-skill > li:nth-child(3) {width: 200px; background-image: url('../icon/skills/java2.png');}
    .back-skill > li:nth-child(4) {width: 200px; height: 90px; background-image: url('../icon/skills/spring2.png');}

    .devops-skill > li:nth-child(1) {width: 230px; height: 105px;}
    .devops-skill > li:nth-child(3) {width: 220px; height: 80px; margin-bottom: 5px;}
    .devops-skill > li:nth-child(4) {margin-bottom: 5px;}
    .devops-skill > li:nth-child(5) {width: 220px;}
}
@media screen and (max-width: 990px) {
    .skills-contents {display: grid;}
    .skills-contents > div:nth-child(2) {margin: auto; margin-bottom: 20px;}
    .skills-contents > div {margin-bottom: 20px;}
}
@media screen and (max-width: 700px) {
    .skills-title {font-size: 2.6rem; padding: 40px;}
    .skills-contents > div {padding: 2px;}
    .skills-contents > div:nth-child(1) {padding-top: 10px;}
    .skills-contents > div:nth-child(3) {padding: 20px; padding-top: 10px; padding-bottom: 10px;}
    .skills-contents > div > h2 {font-size: 1.5rem;}

    .front-skill > li {width: 190px; height: 90px;}

    .back-skill > li {width: 75px; height: 75px;}
    .back-skill > li:nth-child(3) {width: 180px; height: 95px;}
    .back-skill > li:nth-child(4) {width: 180px;}
    .back-skill > li:nth-child(5) {width: 180px; height: 95px;}

    .devops-skill > li:nth-child(1) {width: 190px; height: 100px;}
    .devops-skill > li:nth-child(2) {width: 200px; height: 100px;}
    .devops-skill > li:nth-child(3) {width: 200px; height: 70px; margin-bottom: 5px;}
    .devops-skill > li:nth-child(4) {height: 75px;}
    .devops-skill > li:nth-child(5) {width: 190px;}
}
/*--------------------- skills -------------------------*/

/* 화면이 제일 커지는 경우 */
@media screen and (min-width: 1700px) {
    .projects-title {font-size: 4rem;}
    .projects-contents {padding: 30px; padding-right: 0; padding-left: 60px; padding-bottom: 60px;}
    .projects-nav-bar-body [id="project01"]:checked ~ .projects-nav-bar > li > .project01 {font-size: 1.25rem;}
    .projects-nav-bar-body [id="project02"]:checked ~ .projects-nav-bar > li > .project02 {font-size: 1.25rem;}
    .projects-nav-bar-body [id="project03"]:checked ~ .projects-nav-bar > li > .project03 {font-size: 1.25rem;}

    .detail-title {padding: 15px;}
    .detail-title > h3 {font-size: 1.8rem;}
    .detail-title > h3 > span {font-size: 1.4rem;}
    .detail-title > h4 {font-size: 1.15rem;}

    .detail-contents > p:first-of-type {font-size: 1.05rem;}
    .detail-contents > div:first-of-type > ul > li {font-size: 1.05rem;}
    .detail-contents > h3 {margin-bottom: 5px; font-size: 1.4rem;}
    .detail-contents > p:nth-of-type(2) {font-size: 1.4rem;}
    .detail-contents > p:nth-of-type(2) > span {width: 80px; height: 80px;}
    .github-team {width: 170px; padding: 15px; font-size: 1.1rem;}

    .projects-nav-bar > li {font-size: 1.3rem;}
    .slidebox {max-width:820px;}
    .img-frame {width: 1000px; height: 730px; top: -30px; left: -100px; background-size: 1020px 624px;}
    .slidebox .slide-control [class*="control"] label {padding: 22px;}
    .slidebox .slide-control [class*="control"] label.prev {left: -60px;}
    .slidebox .slide-control [class*="control"] label.next {right: -61px;}
    .project-detail {margin-left: 0px;}
}
/* 화면 중간일 때1 프레임 세로로 변경 */
@media screen and (max-width: 1450px) {
    .projects-view1 {display: flex; flex-direction: column-reverse;}
    .project-detail {margin: 0;}

    .slidebox {margin-top: 30px; margin-bottom: 30px;}

    .detail-contents > div:first-of-type > ul {display: grid; grid-template-columns: 1fr 1fr;}
    .detail-contents > div:first-of-type > ul > li:nth-of-type(2n) {margin-left: 40px;}
    
    .slidebox {max-width: 650px;}
    .img-frame {background-size: 807px 492px; left: -79px; top: -23px;}
    .slidebox .slide-control [class*="control"] label.next {right: -48px;}

    .detail-contents > p:first-of-type {margin-bottom: 10px;}
    .detail-contents > h3 {margin-bottom: 1px;}
    .detail-contents > div:first-of-type {margin-bottom: 10px;}
    .detail-contents > p:nth-of-type(2) {margin-bottom: 10px;}
    .detail-contents > p:nth-of-type(2) > span {margin-top: 5px;}

    .github-team {margin-bottom: 20px;}
}
/* 화면 중간일 때2 */
@media screen and (max-width: 920px) {
    .slidebox {max-width: 600px;}
    .img-frame {width: 750px; background-size: 746px 452px; top: -21px; left: -73px;}

    .slidebox .slide-control [class*="control"] label {padding: 18px;}
    .slidebox .slide-control [class*="control"] label.prev {left: -45px}
    .slidebox .slide-control [class*="control"] label.next {right: -45px}

    .detail-title > h3 {font-size: 1.4rem;}
    .detail-title > h3 > span {font-size: 1.1rem;}
    .detail-title > h4 {font-size: 1rem;}

    .detail-contents > h3 {margin-bottom: 5px; font-size: 1.1rem;}
    .detail-contents > p:nth-of-type(2) {font-size: 1.2rem;}
    .detail-contents > p:nth-of-type(2) > span {width: 65px; height: 65px;}
    .github-team {width: 150px; padding: 11px; font-size: 0.95rem;}
}
@media screen and (max-width: 780px) {
    .slidebox .slide-control [class*="control"] label.prev {left: 43.5%; top: 92%;}
    .slidebox .slide-control [class*="control"] label.next {right: 43.5%; top: 92%;}
}
/* 화면 제일 작아질 때 */
@media screen and (max-width: 725px) {
    .projects-title {font-size: 2.6rem; padding: 40px;}
    .projects-nav-bar-body [id="project01"]:checked ~ .projects-nav-bar > li > .project01 {font-size: 1rem;}
    .projects-nav-bar-body [id="project02"]:checked ~ .projects-nav-bar > li > .project02 {font-size: 1rem;}
    .projects-nav-bar-body [id="project03"]:checked ~ .projects-nav-bar > li > .project03 {font-size: 1rem;}
    .projects-nav-bar > li {font-size: 1rem;}
    .projects-nav-bar > li > label {padding: 7px;}
    .projects-nav-bar > li > label:hover {font-size: 0.9rem;}

    .slidebox {max-width: 100%; height: auto; margin: 10px; border: solid 15px white; border-radius: 40px; box-sizing: border-box; overflow: hidden; box-shadow: 1px 1px 4px rgb(70, 70, 70), 0 0 1px rgb(70, 70, 70);}
    .img-frame {display: none;}
    #p1 {content: url('../project-slide/max-width700/slide1-1.png');}
    #p2 {content: url('../project-slide/max-width700/slide2-1.png');}
    #p3 {content: url('../project-slide/max-width700/slide3-1.png');}
    #p4 {content: url('../project-slide/max-width700/slide4-1.png');}
    #p5 {content: url('../project-slide/max-width700/slide5-1.png');}
    #p6 {content: url('../project-slide/max-width700/slide6-1.png');}

    .slidebox .slide-control [class*="control"] label.prev {left: 41%;}
    .slidebox .slide-control [class*="control"] label.next {right: 41%;}

    .detail-contents > div:first-of-type > ul {grid-template-columns: 1fr;}
    .detail-contents > div:first-of-type > ul > li:nth-of-type(2n) {margin-left: 0px;}

    .detail-title > h3 {font-size: 1.1rem;}
    .detail-title > h3 > span {font-size: 1rem;}
    .detail-title > h4 {font-size: 0.9rem;}

    .detail-contents > * {font-size: 0.9rem;}
    .detail-contents > h3 {margin-bottom: 5px; font-size: 1rem;}
    .detail-contents > p:nth-of-type(2) {font-size: 1em;}
    .detail-contents > p:nth-of-type(2) > span {width: 60px; height: 60px;}
    .github-team {width: 140px; padding: 9px; font-size: 0.9rem;}
}
/*--------------------- projects -------------------------*/

@media screen and (min-width: 1600px) {
    .contact-body {height: 1000px;}
    h1 span {font-size: 75px;}
    .contact-contents  {font-size: 1.7rem; margin-top: -70%;}
}
@media screen and (max-width: 920px) {
    .contact-body {height: 700px;}
    h1 span {font-size: 50px; margin-top: -100px;}
    .contact-contents {font-size: 1.2rem;}
    .contact-contents > p:first-of-type {margin-top: 15%;}
}
@media screen and (max-width: 700px) {
    .contact-body {height: 500px;}
    .contact-txt {margin-bottom: 270px;}
    .contact-contents > p:first-of-type {margin-top: 0; margin-bottom: 0;}
    .contact-contents > p:first-of-type > span {padding: 0;}
    .contact-contents {font-size: 0.9rem; }
}
/*--------------------- contact -------------------------*/

@media screen and (max-width: 700px) {
    .copy-right-body  {font-size: 11px;}
    h1 span {font-size: 40px; z-index: -1;}
    p span:nth-child(2) {padding-left: 15px;}
    .link-icons > div {font-size: 55px;}
}
/*--------------------- copyright -------------------------*/

/* animation */
@keyframes moving1 {
    0%{transform: translate(0px, 150px)}
    30%{transform: translate(30px, 90px)}
    70%{transform: translate(60px, 204px)}
    100%{transform: translate(120px, 80px)}
}
@keyframes moving2 {
    0%{transform:translate(80px, 80px)}
    50%{transform:translate(20px, -110px)}
    70%{transform:translate(100px, -80px)}
    100%{transform:translate(-60px, 80px)}
}
@keyframes moving3 {
    0%{transform:translate(0, -10px)}
    50%{transform:translate(-40px, -90px)}
    100%{transform:translate(-70px, -240px)}
} 
@keyframes bounce {
    100% {
        top: -20px;
        text-shadow: 0 1px 0 #CCC,
                     0 2px 0 #CCC,
                     0 3px 0 #CCC,
                     0 4px 0 #CCC,
                     0 5px 0 #CCC,
                     0 6px 0 #CCC,
                     0 7px 0 #CCC,
                     0 8px 0 #CCC,
                     0 9px 0 #CCC,
                     0 50px 25px rgba(0, 0, 0, .2);
    }
}